.job-item {
  background-color: azure;
  box-shadow: 2px 2px #bfbfbf;
  border-radius: 10px;
  width: 80%;
  display: flex;
  padding: 1%;
  margin: 1% auto 1%;
}

.job-logo-description {
  float: left;
  width: 50%;
  padding: 10px;
  display: flex;
}
.job-logo {
  float: left;
  width: 20%;
  text-align: center;
  padding: 4% 1%;
}
.job-description {
  font-weight: bolder;
  font-size: medium;
  float: left;
  width: 75%;
  padding: 1%;
}

.job-description li {
  display: flex;
  width: 100%;
  margin-bottom: 3%;
}

.job-content {
  text-align: right;
  width: 50%;
  padding: 10px;
}

.job-content span {
  font-size: medium;
  font-weight: bolder;
  border-radius: 10%;
  padding: 1%;
  margin: 2%;
  color: lightseagreen;
  background-color: rgb(218, 241, 241);
}

.item-company {
  border: none;
  color: lightseagreen;
  padding: 10px 10px 0 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}

.item-new {
  background-color: lightseagreen;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}

.item-feautred {
  background-color: lightseagreen;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}
