<li class="job-item" *ngFor="let job of jobLists">
  <div class="job-logo-description">
    <div class="job-logo">
      <img src="{{ job.logo }}" alt="{{ job.company }}" />
    </div>
    <div class="job-description">
      <li>
        <span class="item-company">{{ job.company }} </span>
        <span class="item-new" *ngIf="job.new"> New! </span>
        <span class="item-feautred" *ngIf="job.featured"> Featured </span>
      </li>
      <li>{{ job.position }}</li>
      <li>
        {{ job.postedAt }} &bull; {{ job.contract }} &bull; {{ job.location }}
      </li>
    </div>
  </div>
  <div class="job-content">
    <span>{{ job.role }}</span>
    <span>{{ job.level }}</span>
    <span *ngFor="let lang of job.languages"> {{ lang }} </span>
    <span *ngFor="let tool of job.tools"> {{ tool }} </span>
  </div>
</li>
